@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
  flex: 1;
  display: grid;
  grid-template: $mainLayoutGridTemplate;
  grid-template-areas: $mainLayoutGridArea;
  height: 100vh;
}

.header {
  width: 100%;
  grid-area: header;
}

.navbar {
  width: 100%;
  grid-area: sidebar;
}

.main {
  width: 100%;
  grid-area: main;
}
