@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'mixins';
@import 'variables';

body {
  font-family: var(--main-font);
  margin: 0;
  background: var(--background-light-color);
  color: var(--text-color-light);
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Cuando el navegador hace autocomplete de los inputs, modifica los styles.
//Esta fue la unica forma que encontré para cambiarlos
/*input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--input-background) inset;
  -webkit-text-fill-color: var(--text-color);
}*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
ol,
ul,
li,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

:global {
  .visibleDesktop {
    @include media-breakpoint-only(xs) {
      display: none;
    }

    @include media-breakpoint-only(sm) {
      display: none;
    }
  }

  .visibleMobile {
    @include media-breakpoint-only(lg) {
      display: none;
    }

    @include media-breakpoint-only(md) {
      display: none;
    }
  }
}
