:root {
  // Colors
  --primary-color: #0d47a1;
  --primary-color-alt: #2962ff;
  --secondary-color: #e64a19;
  --secondary-color-alt: #ff6e40;

  // Loading Ring Variables
  --loading-ring-size: 64px;
  --loading-ring-size-small: 16px;
  --loading-ring-size-spinners: 8px;
  --loading-ring-size-spinners-small: 2px;
}
