/***** MAIN LAYOUT *****/
/** main layout grid area, here you can define the size and position
of your header, sidebar and main content */
$mainLayoutGridArea: 'header header' 'sidebar main';
/* headerHeight contentHeight / sidebarWidth contentWidth */
$mainLayoutGridTemplate: 58px 1fr / 216px 1fr;
/***** MAIN LAYOUT *****/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

:root {
  // Fonts & text
  --main-font: 'Roboto', sans-serif;
  --text-color-light: var(--background-darker-color);
  --text-color-dark: var(--background-light-color);
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.6;
  --low-emphasis-opacity: 0.38;

  // State Opacity
  --hover-on-surface-opacity: 0.04;
  --dragged-on-surface-opacity: 0.08;
  --focus-on-surface-opacity: 0.12;
  --select-on-surface-opacity: var(--dragged-on-surface-opacity);
  --active-on-surface-opacity: var(--focus-on-surface-opacity);

  --hover-on-primary-opacity: var(--dragged-on-surface-opacity);
  --dragged-on-primary-opacity: 0.16;
  --focus-on-primary-opacity: 0.24;
  --select-on-primary-opacity: 0.16;
  --active-on-primary-opacity: 0.24;

  // Icons
  --icon-active: var(--high-emphasis-opacity);
  --icon-inactive: var(--medium-emphasis-opacity);
  --icon-disabled: var(--low-emphasis-opacity);

  // Colors
  --primary-color: #9055a2;
  --primary-color-alt: #7a488a;
  --secondary-color: #fc7a57;
  --secondary-color-alt: #ff6e40;
  --accent-color: #58b493;
  --accent-color-alt: #dccd70;
  --error-color: #c83e3e;

  // Borders
  --default-radius: 8px;

  // Main Backgrounds
  --background-lighter-color: #fafafa;
  --background-light-color: #eeeeee;
  --background-dark-color: #011627;
  --background-darker-color: #010e1a;
  --background-table-row: var(--background-light);

  // Elevation variables
  --elevation-01dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  --elevation-02dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  --elevation-03dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 1px 8px rgba(0, 0, 0, 0.2);
  --elevation-04dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  --elevation-06dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 3px 5px rgba(0, 0, 0, 0.2);
  --elevation-08dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  --elevation-09dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 5px 6px rgba(0, 0, 0, 0.2);
  --elevation-12dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 7px 8px rgba(0, 0, 0, 0.2);
  --elevation-16dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 8px 10px rgba(0, 0, 0, 0.2);
  --elevation-24dp: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 11px 15px rgba(0, 0, 0, 0.2);

  // Loading Ring Variables
  --loading-ring-size: 64px;
  --loading-ring-size-small: 16px;
  --loading-ring-size-spinners: 8px;
  --loading-ring-size-spinners-small: 2px;

  // Button variables
  --button-default-background: var(--primary-color);
  --button-default-background-alt: var(--primary-color-alt);
  --button-secondary-background: var(--secondary-color);
  --button-secondary-background-alt: var(--secondary-color-alt);
  --button-cancel-background: #9a9a9a;
  --button-cancel-background-alt: #8b8b8b;
  --button-default-color: #ffffff;
  --button-secondary-color: #ffffff;
  --button-ripple-color: rgba(0, 0, 0, 0.12);

  // Label variables
  --label-color: #fff;

  // Input variables
  --input-background: var(--background-light-color);
  --input-border: #9a9a9a;
  --input-color: var(--text-color);
  --input-placeholder-color: gray;
  --input-border-hover: var(--primary-color);
  --input-border-focus: var(--primary-color-alt);

  //Select variables
  --select-hover-option-background: var(--secondary-color-alt);
  --select-hover-option-color: white;
  --select-text-color: var(--text-color);
  --select-selected-option-background: var(--secondary-color);
  --select-selected-option-color: white;

  // Paginator variables
  --paginator-hover-background: lightGray;
  --paginator-active-background: var(--secondary-color);
  --paginator-active-color: var(--primary-color);
}
// *** EJEMPLO DE VARIABLES QUE ESPERA ENCONTRAR EL SUBFRAMEWORK ***
//:root {
//--input-border: #3f3f3f;
//--input-background: #101010;
//--text-color: #5b5b5b;
//--error-color: #c83e3e;
//--main-font: 'Chivo', sans-serif;
//--background-color: #f4f4f4;
//--primary-color: #005dab;
//--primary-color-hover: #003b75;
//--secondary-color: #16C465;
//--secondary-color-hover: #16803c;
//
//--button-default-background: var(--primary-color);
//--button-default-background-hover: var(--primary-color-hover);
//--button-secondary-background: var(--secondary-color);
//--button-secondary-background-hover: var(--secondary-color-hover);
//--button-cancel-background: #9a9a9a;
//--button-cancel-background-hover: #8b8b8b;
//--button-default-color: #ffffff;
//}
