.inputContainer {
  margin-bottom: 32px;
  width: 65%;
}

.input {
  margin-bottom: 16px;
}

.link {
  opacity: var(--medium-emphasis-opacity);
}

.signupLink {
  margin-top: 20px;
}

.loginLink {
  margin-top: 16px;
}
