@import 'src/styles/baseStyles/buttonBaseStyles';
@import 'src/styles/effects';

.button {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all 200ms ease-out;
  text-decoration: none;
  width: fit-content;

  .icon {
    align-items: center;
    display: flex !important;
    color: var(--button-default-color);
  }

  &.iconLeft {
    &.icon {
      order: -1;
    }
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    transition: all 200ms ease-out, transform 1ms;
  }

  &:active:not(:disabled) {
    transition: all 200ms ease-out, transform 1ms;
  }

  @include defaultButtonAttributes;

  &.secondary {
    @include secondaryButtonAttributes;
  }

  &.cancel {
    @include cancelButtonAttributes;
  }

  &.outline {
    @include outlineButtonAttributes;
  }

  &.hidden {
    display: none;
  }

  &.big {
    @include bigButtonAttributes;
  }

  &.small {
    @include smallButtonAttributes;
  }

  &.smallest {
    @include smallestButtonAttributes;
  }

  &.fullWidth {
    width: 100%;
  }

  &:disabled {
    cursor: auto;
  }

  &.isLoading {
    transition: all 200ms ease-out, transform 1ms;

    @include isLoadingButtonAttributes;
  }

  &.circle {
    padding: 0;
    min-width: auto;
    width: $buttonHeightNormal;
    border-radius: 50%;

    &.big {
      width: $buttonHeightBig;
    }

    &.small {
      width: $buttonHeightSmall;
    }

    &.smallest {
      width: $buttonHeightSmallest;
    }
  }

  &.error {
    @include errorButtonAttributes;
  }

  @include overrideButtonAttributes;
}

.ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: var(--button-ripple-color);
  display: block;
  content: ' ';
  border-radius: 50%;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@include animations;
